@charset "UTF-8";

body {
    background-color: black;
    color: white;
    text-align: center;
}
a {
    color: white;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#voltar {
    text-decoration: none;
}

#voltar:hover {
    color: yellow;
}